.App {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 7px;
}

form input {
  margin: 0;
}

li div {
  width: 169px;
  display: flex;
  justify-content: left;
  gap: 7px;
}

.active {
  text-decoration: line-through;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 42.5%;
  gap: 5px;
}

li {
  display: flex;
  gap: 7px;
}

.add {
  background: green;
}

.delete {
  background: red;
}

.update {
  background: orange;
}